<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>BMW 2 Series Active Tourer</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="title" content="BMW 2 Series Active Tourer 3-D Experience / BMW South Africa">
		<meta name="description" content="Immerse yourself in the new BMW 2 Series Active Tourer with this 3-D driving experience and book your BMW test drive today.">
		<meta name="keywords" content="bmw 2 series active tourer, bmw south africa, bmw 2 series test drive, bmw active tourer, new bmw 2 series, latest bmw, active tourer test drive, bmw family car">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui,maximum-scale=1.0,user-scalable=no">

		<meta property="og:title" content="BMW 2 Series Active Tourer 3-D Experience / BMW South Africa" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://2activetourer.co.za/" />
		<meta property="og:image" content="http://2activetourer.co.za/img/splash/d-bg.jpg" />
		<meta property="og:description" content="Immerse yourself in the new BMW 2 Series Active Tourer with this 3-D driving experience and book your BMW test drive today." />


		<link href="/css/style.css?v=8" rel="stylesheet">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="img/favico/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favico/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favico/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="img/favico/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="img/favico/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/favico/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/favico/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/favico/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="img/favico/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="img/favico/favicon-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="img/favico/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="img/favico/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="img/favico/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="img/favico/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#1f69d4">
		<meta name="msapplication-TileImage" content="/mstile-144x144.png">
		<script>
			(function () {
				if (window.location.host == 'localhost:9001') {
					return;
				}
	            if (!window.console) {
                    window.console = {};
                }
				window.console.log = function() {};
				window.console.error = function() {};
				window.console.log('*** TURN OFF LOGGING ***');
			})();
		</script>
		<script src="http://ds.serving-sys.com/BurstingRes/CustomScripts/mmConversionTagV3.js"></script>
	</head>
	<body class="js-body">

	<!-- Component: Splash -->
	<div class="logo logo--takeover js-splash-logo"></div>
	<div class="splash js-intro-view">
		<div class="spash-dark js-splash-dark"></div>
		<div class="splash-con">
			<div class="splash-inner">

				<div class="new-visitor new-visitor--intro js-intro-text">
					<h1 class="js-headphones">Whatever you have in mind.</h1>
					<h4 class="js-immerse">
						The BMW 2 Series Active Tourer Experience.
					</h4>
				</div>

				<div class="loading js-loading">
					<h1 class="loading-percent js-loading-percent">Loading 0%</h1>
				</div>
				<div class="splash-inner-secondary">
					<div class="new-visitor js-intro-loaded-text intro-loaded-text">
						<h1 class="js-headphones">Put on your headphones.</h1>
						<h4 class="js-immerse">Take a 3-D Audio Test Drive.</h4>
					</div>

					<div class="ref-visitor js-intro-loaded-text intro-loaded-text">
						<h1 class="js-headphones">Put on your headphones.</h1>
						<h4 class="js-immerse">Take a 3-D Audio Test Drive.</h4>
					</div>

					<div id="js-disabled" class="js-disabled-visitor">
						<h1>Please enable Javascript.</h1>
						<h4>This interactive tour requires javascript.</h4>
					</div>
					<script>
						document.getElementById('js-disabled').style.display = 'none';
					</script>

					<div class="start transition js-start js-after-intro js-start-app js-start-ci">Start Experience</div>
					<div class="start start--book transition js-book js-start js-after-intro">Book a Test Drive</div>
					<h1 class="start-large js-start js-start-large js-start-app">Click to Start<span class="start-arrow"></span></h1>
				</div>
			</div>

		</div>
	</div>

	<!-- Component: Controls -->
	
	<div class="m-push">

		

		<div class="fade-in">

			<a href="#open-mobile" class="m-hamburger js-footer-menu">
				<div></div>
				<div></div>
				<div></div>
			</a>
			<div class="intro-explainer js-intro-explainer">
				<div class="intro-explainer-inner">
					<div class="explainer-text">
						<h1>This is an interactive soundscape designed to take you on a journey.</h1>
					</div>
					<!-- <img src="img/intro/explainer.png"> -->
				</div>
			</div>
			<main class="main js-main-view" role="main">
				<canvas id="canvas" width="700" height="350" class="visualiser"></canvas>
				<div class="m-bottom js-info-controls info-controls">
					<div class="sound js-sound"></div>
					<div class="information">
						<div class="information-text">
							This is an audio experience. Choose an environment and customise your journey.
						</div>

						<div class="information-icon js-information-icon"></div>

					</div>
				</div>

				<div class="controls js-controls-view">

					<div class="info-helper info-helper--journey js-info-helper1 control-hidden">
						<div class="info-helper-text">
							Choose a journey
						</div>
					</div>
					<div class="controls-location js-controls-location">
						<div class="control-item js-control-item">
							<div id="beach" class="js-control-scene beach" data-scene="ocean"></div>
						</div>
						<div class="control-item js-control-item">
							<div id="mountain" class="js-control-scene mountain" data-scene="forest"></div>
						</div>
						<div class="control-item js-control-item">
							<div id="city" class="js-control-scene city" data-scene="urban"></div>
						</div>
					</div>

					<div class="controls-other js-controls-environment">
						<div class="info-helper info-helper--environment js-info-helper2 control-hidden">
							<div class="info-helper-text">
								Adjust the environment
							</div>
						</div>
						<div class="control-item js-control-item">
							<div id="night" class="js-control-effect night" data-effect="night"></div>
						</div>
						<div class="control-item js-control-item">
							<div id="thunder" class="js-control-effect thunder" data-effect="storm"></div>
						</div>
						<!-- <div class="control-item js-control-item">
							<div id="window" class="js-control-effect window" data-effect="window"></div>
						</div> -->
						<div class="control-item js-control-item">
							<div id="star" class="js-control-effect star" data-effect="joy"></div>
						</div>
						<div class="control-item js-control-item">
							<div id="key" class="js-control-effect key" data-effect="engine"></div>
						</div>
					</div>
					<div class="controls-book js-controls-book">
						<div class="info-helper info-helper--book js-info-helper3 control-hidden">
							<div class="info-helper-text">
								Book a Test Drive with
							</div>
						</div>
						<div class="control-item js-control-item test-book-a">
							<div class="js-control-book book-twitter book-twitter--single" data-book="twitter" onclick="mmConversionTag(582146, this); return false;"></div>
						</div>
						<div class="control-item js-control-item test-book-b">
							<div class="js-control-book book-twitter" data-book="twitter" onclick="mmConversionTag(582146, this); return false;"></div>
						</div>
						<div class="control-item js-control-item test-book-b">
							<div class="js-control-book book-form" data-book="form" onclick="mmConversionTag(582147, this); return false;"></div>
						</div>
					</div>
				</div>
				<a href="/">
					<div class="logo"></div>
				</a>
			</main>

			</div>
	</div>

	<div class="fade-in">

	<!-- Component: Footer -->
	<div class="m-fixed js-footer-view footer-view">
		<footer class="footer" role="banner">

					<div class="navigation">

						<div class="d-visitor">
							<h1 class="js-book-footer-text">Whatever you have in mind.</h1>
						</div>

						<div class="m-visitor">
							<h1>Immerse Yourself</h1>
							<h4>In the BMW 2 series active tourer.</h4>
						</div>

						<ul class="nav-book">
							<li>
								<a href="#book-social" class="toggle js-open-book-tweet" onclick="mmConversionTag(582146, this); return false;">
									<span class="d-visitor">
										Book with a Tweet
									</span>

									<span class="m-visitor">
										<i class="icon icon-twitter js-open-book-tweet" onclick="mmConversionTag(582146, this); return false;"></i>
										Book a Test Drive
									</span>
								</a>
							</li>

							<li>
								<!-- <a href="https://app.bmw.co.za/dws/WebContact/MobileBMWTestDrive.html?system=BMWMOBILE" target="_blank"> -->
								<a href="#book-form" class="toggle js-open-book-form" onclick="mmConversionTag(582147, this); return false;">
									<span class="d-visitor">
										Book via Contact Form
									</span>

									<span class="m-visitor js-open-book-form" onclick="mmConversionTag(582147, this); return false;">
										<i class="icon icon-envelope"></i>
										Book a Test Drive
									</span>
								</a>
							</li>
						</ul>

						<ul class="nav-other">
							<li>
								<a href="#share-social" class="toggle js-open-share">Share</a>
							</li>
							<li>
								<a href="#brochure" class="js-open-brochure">Brochure</a>
							</li>
							<li class="m-visitor">
								<a href="http://www.bmw.co.za" target="_blank" class="js-open-site-link">BMW.co.za</a>
							</li>
						</ul>

					</div>


					<div class="social">

						<ul>
							<li class="bmw-link">
								<a href="http://www.bmw.co.za" target="_blank" class="js-open-site-link">BMW.co.za</a>
							</li>
							
							<li>
								<a href="https://www.youtube.com/user/BMWSouthAfrica" target="_blank">
									<i class="icon-youtube"></i>
								</a>
							</li>

							<li>
								<a href="https://twitter.com/bmw_sa" target="_blank">
									<i class="icon-twitter-square"></i>
								</a>
							</li>
							
							<li>
								<a href="https://www.facebook.com/BMWSA" target="_blank">
									<i class="icon-facebook-square"></i>
								</a>
							</li>
							
							<li>
								<a href="https://za.linkedin.com/company/bmwsouthafrica" target="_blank">
									<i class="icon-linkedin-square"></i>
								</a>
							</li>

						</ul>

					</div>
		</footer>
	</div>
			

		<!-- Component: Hidden -->
		<div class="collapsed">

			<div class="hidden">

				<div id="book-social">
					<div class="close-panel"></div>
					<h4 class="d-visitor">
						Book your test drive with a tweet.
					</h4>
					<h4 class="m-visitor">
						Tweet us for a test drive
					</h4>
					<div class="form">
						<form action="" id="book-twitter-form">
							<textarea name="tweet" disabled>@BMW_SA I want #2TestDrive the new #2ActiveTourer</textarea>
							<a href="#" data-network="twitter" data-title="@BMW_SA I want %232TestDrive the new %232ActiveTourer">
								<div class="submit js-book-tweet">Book Now</div>
							</a>
						</form>
					</div>
				</div>

				<div id="share-social">

					<div class="close-panel"></div>
					<h4>Share your experience.</h4>

					<div class="share-buttons">

						<a onclick="mmConversionTag(582148, this); return false;" href="#" class="transition js-share-twitter" data-network="twitter" data-title="Immerse yourself in the new %23BMW %232ActiveTourer" data-url="http://2activetourer.co.za" data-hash="">
							<i class="icon-twitter"></i>
							Twitter
						</a>

						<a onclick="mmConversionTag(582149, this); return false;" href="#" class="transition js-share-facebook" data-network="facebook" data-title="Immerse yourself in the new BMW 2ActiveTourer" data-url="http://2activetourer.co.za">
							<i class="icon-facebook"></i>
							Facebook
						</a>

					</div>
				</div>

				
				<div id="book-form">
					<div class="close-panel"></div>
					<div class="iframe-overflow">
						<!-- <iframe src="https://app.bmw.co.za/dws/WebContact/MobileBMWTestDriveNoFrame.html?system=F45SOUNDM&model=0000037" width="450" height="750px" frameborder="0" scrolling="no"></iframe> -->
						<iframe class="js-form" src="" frameborder="0" scrolling="no"></iframe>
					</div>
				</div>
			 

			</div>
		</div>

	</div>

	<!-- Component: Book a Test Drive -->
	<!-- <div id="test-drive" class="test-drive"></div>-->
	<!-- Component: Brochure -->
	<div id="brochure" class="brochure js-brochure">
		<div class="m-scroll-helper">
			<span class="brochure-loading">LOADING...</span>
			<div class="slide-close">
			</div>
		</div>
	</div>

	<div class="test-hider"></div>
	<div class="test">
		<div class="background"></div>
		<h2>Layers</h2>
		<div class="layers">
				<!-- -->
				<div class="layer">
							<span class="layer__journey">journeyName</span>
							<span class="layer__name">layerId</span>
							<span class="layer__progress">2s</span>
							<span>/</span>
							<span class="layer__duration">3s</span>
							<div class="layer__percent-bk"><div class="layer__percent" style="width: 66%"></div></div>
							
						</div>
						<div class="layer is-active">
							<span class="layer__journey">journeyName</span>
							<span class="layer__name">layerId</span>
							<span class="layer__progress">10s</span>
							<span>/</span>
							<span class="layer__duration">40s</span>
							<div class="layer__percent-bk"><div class="layer__percent" style="width: 20%"></div></div>
							
						</div>
						<!--  -->
				<script type="text/template" class="layer-template">
					<% _.each(data.layers, function (layer) { %>
						<% if (layer.isActive) { %>
						<div class="layer is-active">
						<%  } else { %>
						<div class="layer">
						<%  } %>
							<span class="layer__journey"><%- layer.journeyId %></span>
							<span class="layer__name"><%- layer.layerId %></span>
							<span class="layer__progress"><%- layer.progress %></span>
							<span>/</span>
							<span class="layer__duration"><%- layer.durationRounded %></span>
							<div class="layer__percent-bk"><div class="layer__percent" style="<%- layer.percent %>"></div></div>
							
						</div>
					<% }); %>
				</script>
			</div>
			<textarea class="status" data-js="status" rows="10" cols="30">loading</textarea>
		</div>
		<div class="iframe-overflow-container iframe-overflow-container--takeover js-form-takeover-container">
			<div class="iframe-overflow-close js-form-takeover-close"></div>
			<!--[if lt IE 9]>
				<div class="splash-outer">
			<![endif]-->
			<div class="splash">
				<!--[if lt IE 9]>
					<div class="splash-outer">
				<![endif]-->
				<div class="splash-con">
					<h1 class="js-splash-title">The BMW 2 series active tourer immersion.</h1>
					<h4 class="js-splash-subtitle"></h4>
					<div class="iframe-overflow-outdated iframe-overflow-outdated--takeover js-form-takeover">
						
						<iframe class="iframe-outdated iframe-outdated--takeover js-form-takeover-iframe" src="" width="" height="" frameborder="0" scrolling="no"></iframe>
					</div>
				</div>
				<!--[if lt IE 9]>
					</div>
				<![endif]-->
			</div>
			<!--[if lt IE 9]>
				</div>
			<![endif]-->
		</div>
	</body>
	<script type="text/javascript">

		// var _gaq = _gaq || [];
		// _gaq.push(['_setAccount', 'UA-58728942-1']);
		// _gaq.push(['_trackPageview']);
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	 
		ga('create', 'UA-58728942-1', 'auto');
		ga('send', 'pageview');
	 	
	 	var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-58728942-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<script src="js/audio-drive.js?v=12"></script>
	<!--[if lt IE 9]>
		<script src="assets/respond.js"></script>
	<![endif]-->
	
</html>
